* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 120rem;
  margin-left: 10rem;
  font-size: 1.8rem;
}

.header {
  display: flex;
  align-items: center;
  font-size: 2.2rem;
  gap: 8rem;
  background-color: white;
  position: sticky; /* Makes the header stick to the top */
  z-index: 1000; /* Ensures the header stays above other content */
}
.div-header {
  display: flex;
  align-items: center;
}
.nav-img {
  max-width: 16rem;
  margin-left: 1rem;
}
.header-image {
  height: 110vh; /* Sets the image height to 100% of the viewport height */
  object-fit: cover;
  margin-bottom: 4rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem; /* Adds space between navigation items */
}

nav .button {
  text-transform: uppercase;
  font-size: 1.4rem;
  border-left: 0.1rem solid grey;
  padding-left: 1rem; /* Adds padding to prevent text from touching the border */
}

nav .button:hover {
  color: grey;
}

.intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h1 {
  font-size: 4.4rem;
  line-height: 1;
  margin-bottom: 2rem;
}
.intro-caption {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.intro-btn {
  background: none;
  padding: 1rem;
  max-width: 20rem;
  border-radius: 0.8rem;
}
.intro-btn:hover {
  max-width: 22rem;
  color: red;
}
.coffee-gif {
  max-width: 30rem;
  margin: 0 3.2rem;
}
.intro-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
h3 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.intro-text {
  margin-bottom: 2rem;
}
.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20rem;
  margin-right: 8rem;
  margin-bottom: 10rem;
}
.grid-imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 120rem; /* Set the width to 120rem */
  margin: 0 auto; /* Center the grid within the container */
}

.grid-imgs img {
  width: 80%; /* Ensures images take up the full width of the grid item */
  height: 80%; /* Maintains the aspect ratio of the images */
  max-height: 20rem;
}
.sponsor {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  grid-template-rows: auto 1fr; /* Auto height for the text, rest for the images */
  width: 120rem; /* Set the width to 120rem */
  margin: 0 auto; /* Center the grid within the container */
  gap: 0.5rem; /* Gap between grid items */
}

.h3-sponsor {
  grid-column: 1 / -1; /* Span across all columns */
  text-align: center; /* Center the text */
  margin-bottom: 1rem; /* Space below the text */
}

.sponsor div {
  grid-column: 1 / -1; /* Span across all columns */
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three equal columns for images */
  gap: 0.5rem; /* Gap between images */
}

.sponsor img {
  width: 100%; /* Ensures images take up the full width of the grid item */
  height: auto; /* Maintain the aspect ratio of the images */
  max-height: 20rem;
}
