$--global-color-primary: #276EF1;
$--global-color-text: #111827;
$--global-color-accent: #276EF1;
$--global-color-secondary: #111827;
$--global-color-light: #F0F5FE;
$--color-text: #6B7280;
$--font-size-default: 1.2rem;
$--font-size-small: 1.6rem;
$--color-border: #E5E7EB;